@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Note:
inital green hue theme:

--background-start-rgb: 54, 83, 20;
--background-end-rgb: 34, 49, 22;

*/

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 47, 53, 67;
    --background-end-rgb: 28, 31, 35;

    --theme-foreground: #caceb5;
    --theme-background: #384237;

    --keyword-token: #b09654;
    --class-title-token: #909f88;
    --text-token: #ece6da;
    --bultin-token: #99aebb;
  }
}


@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: #ece6da;
      --background-start-rgb: 47, 53, 67;
      --background-end-rgb: 28, 31, 35;

      --theme-foreground: #caceb5;
      --theme-background: #384237;

      --keyword-token: #b09654;
      --class-title-token: #909f88;
      --text-token: #ece6da;
      --bultin-token: #99aebb;
    }
}
}


body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hljs{color:var(--theme-foreground);background:var(--theme-background)}
.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:var(--keyword-token)}
.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:var(--class-title-token)}
.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:var(--keyword-token)}
.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:var(--text-token)}
.hljs-built_in,.hljs-symbol{color:var(--bultin-token)}
.hljs-code,.hljs-comment,.hljs-formula{color:var(--theme-foreground)}
.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#7ee787}
.hljs-subst{color:#c9d1d9}
.hljs-section{color:#1f6feb;font-weight:700}
.hljs-bullet{color:#f2cc60}
.hljs-emphasis{color:#c9d1d9;font-style:italic}
.hljs-strong{color:#c9d1d9;font-weight:700}
.hljs-addition{color:#aff5b4;background-color:#033a16}
.hljs-deletion{color:#ffdcd7;background-color:#67060c}
